log
tmp
!tmp/.keep
!tmp/pids/.keep
.git
.bundle
spec
test
.env
node_modules
.DS_Store
yarn-error.log
storage
stats.json
public/assets
!public/assets/.sprockets-*
public/packs
!public/packs/manifest.json
!public/packs/manifest.json.gz
.env*
